.rows-container{
    margin: 20px;
    text-align: center;
}
.contenedor1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-top: 20px;
    height: 50px;
    padding-top: 20px;
}

.ancho{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-top: 20px;
    width: 550px;
    margin-right: 10px;
    height: 50px;
    padding-top: 20px;
}

.ancho2{
    padding-top: 20px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-top: 20px;
    width: 200px;
}